/* Core styles */
a {
    text-decoration: none;
}

.logo-link {
    color: inherit;
}

/* Card styles */
.intro-card { 
  margin: auto;
}

.intro-card.mdl-card { 
  width: 512px;
}

.intro-card > .mdl-card__title{
  color: white;
  height: 200px;
  background: url('../Images/NYCBridge.jpg') center / cover;
}

/* Main content */
.main-content{
  margin-top: 30px;
}

.main-content .main-content-div{
  margin: auto;
  width: 100%
}

/* Main container */
.main-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.content-section {
  border-radius: 2px;
  padding: 20px 55px;
  margin-bottom: 25px;
}

/* Article content */

/* aside */
/* Sidebar */
#aside{
  float:right;
  width:30%;
  margin-top:10px;
}

/* Main layout */
.main-layout.is-small-screen .content-section{
    padding: 10px 25px;
}

/* Media queries */

@media(max-width: 450px){
  .intro-card.mdl-card{
    width: 300px;
  }
  
  .content-section {
  border-radius: 2px;
  padding: 20px 55px;
  margin-bottom: 25px;
}

}
