/* Common styles */
a {
    text-decoration: none;
}

.logo-link {
    color: inherit;
}

/* Card styles */
.intro-card{
  margin: auto;
}

.intro-card.mdl-card{
  width: 512px;
}

.intro-card > .mdl-card__title{
  color: white;
  height: 176px;
  background: url('../Images/NYCBridge.jpg') center / cover;
}

/* Main content */
.main-content{
  margin-top: 30px;
}

.main-content .main-content-div{
  margin: auto;
  width: 100%
}

/* Media queries */

@media(max-width: 450px){
  .intro-card.mdl-card{
    width: 300px;
  }
}
